.container {
  @apply flex justify-center font-inter;
  height: 86vh;
}

.titleBox {
  @apply font-semibold text-2xl p-2 pl-4 w-[630px] h-[50px] tracking-wider;
  background: #F1F1F1;
  color: #000000;
  border-radius: 50px;

  >.MuiAutocomplete-input {
    height: 50px;
    background-color: #3E3E3E;
  }
}

.score {
  @apply flex justify-center items-center w-[46px] h-[46px] rounded-full text-4xl text-darkGrey bg-lightGrey;
}

.commentBtn {
  @apply w-[133px] h-[68px] rounded-[50px] font-semibold text-xl p-4;
  background: #E7E7E7;
}

.selection {
  @apply bg-lightGrey w-60 h-[50px] mt-[42px] mb-[48px] rounded-[50px] font-semibold text-base p-4 tracking-wider before:border-0 hover:border-0;

  background-color: #F1F1F1;
  border-radius: 50px;
  font-weight: 600;
}