.container {
  @apply flex justify-center font-inter;
  // height: 90.9vh;
  background-color: #F7F7F7;
}

.titleBox {
  @apply font-semibold text-2xl p-2 pl-4 w-[630px] h-[50px] tracking-wider;
  padding: 20px;
  background: #F1F1F1;
  color: #3E3E3E;
  // width: 630px;
  // height: 50px;
  border-radius: 50px;
  // box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);

  >.MuiAutocomplete-input {
    height: 50px;
    background-color: #3E3E3E;
  }

  // :hover {
  //   box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
  // }
}

.score {
  @apply flex justify-end;

  >button {
    @apply flex justify-center items-center w-[46px] h-[46px] rounded-full text-4xl;
    background: #E7E7E7;
    color: #3E3E3E;
  }
}

.commentBtn {
  @apply w-[133px] h-[68px] rounded-[50px] font-semibold text-xl p-4 hover:bg-[#ffec00];
  background: #E7E7E7;
}

.selection {
  @apply bg-lightGrey w-60 h-[50px] mt-[42px] mb-[39px] rounded-[50px] font-semibold text-base p-4 tracking-wider before:border-none hover:border-none;

  background-color: #F1F1F1;
  border-radius: 50px;
  font-weight: 600;
}

.footer {
  background-image: url('/svg/komic.svg');
  // @apply bg-repeat-space w-screen;
  @apply bg-no-repeat;

  & > p {
    @apply invisible;
  }
}

.textAreaBox {
  @apply text-justify leading-9 mt-[48px] ml-[17px] mb-[1px] mr-[47px] font-normal text-base min-h-[208px] resize-none;
  // scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-blue-300 h-32 overflow-x-scroll

  background-color: #F7F7F7;
  height: 100%;
  outline: none;

  // ::-webkit-scrollbar {
  //   width: 10px;
  // }
  // ::-webkit-scrollbar-button {
  //   // background: transparent;
  //   // border-radius: 4px;
  //   display: none;
  // }

  // ::-webkit-scrollbar-track-piece {
  //   background: transparent;
  // }

  // ::-webkit-scrollbar-thumb {
  //   border-radius: 8px;
  //   background-color: #3E3E3E;
  // }
}