.container {
  @apply flex justify-center font-inter;
}

.titleBox {
  @apply font-semibold text-2xl p-2 pl-4 w-[630px] h-[50px] tracking-wider;
  background: #F1F1F1;
  color: #000000;
  border-radius: 50px;

  >.MuiAutocomplete-input {
    height: 50px;
    background-color: #3E3E3E;
  }
}

.score {
  @apply flex justify-center items-center w-[46px] h-[46px] rounded-full text-4xl text-darkGrey bg-lightGrey;
}

.commentBtn {
  @apply w-[133px] h-[68px] rounded-[50px] font-semibold text-xl p-4 hover:bg-[#FCF32B] active:bg-[#FCF32B] cursor-pointer bg-lightGrey;
}

.selection {
  @apply bg-lightGrey w-60 h-14 mt-[42px] mb-[48px] rounded-[50px] font-semibold text-base p-4 tracking-wider before:border-0 hover:border-0;

  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /*自定義圖標*/
  background-image: url('/svg/polygon.svg');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 12px 12px;

  & > option {
    @apply rounded-[50px] bg-lightGrey h-[50px];

    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 8px 12px;
    border: none;
  }
}

.textMain {
  @apply leading-9 mt-[54px] mx-[46px] font-normal text-base bg-mainBG border-0 focus:outline-none w-full resize-none overflow-auto mt-8 h-[218px];
  

  /* 原為text，鎖定將無法修改 */
  cursor:unset;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #E7E7E7;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
}

.footer {
  background-image: url('/svg/komic.svg');
  // @apply bg-repeat-space w-screen;
  @apply bg-no-repeat mb-[-20px];

  & > p {
    @apply invisible;
  }
}